* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-bottom: 0;
}


.movil-menu {
    background-color: #ffffff;
    position: relative;
    display: none;
    z-index: 9999;
}

.menu-toggle {
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-toggle {
    color: #003c79;
}

.menu-toggle img {
    width: 40%;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    color: #003c79;
    transition: right 0.4s ease;
    z-index: 1000;
    padding-top: 2rem;
    border-left: 2px solid #003c79;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 2rem 1rem;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.mobile-menu a {
    color: #ffffff;
    background-color: #003c79;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    font-family: "Poppins";
    border-radius: 5px;
    padding: 7px 20px;
    transition: ease-in-out .3s;
}

.mobile-menu a:hover {
    background-color: #003c79;
    color: #ffffff;
}

.mobile-menu.show {
    right: 0;
}

.close-btn {
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

button {
    padding: 15px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    font-family: "Lexend";
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

/* ESTILOS CABECERA */

header {
    display: flex;
    align-items: center;
    padding: 5px 0;
    flex-direction: column;
    font-family: "Lexend";
    justify-content: center;
    position: fixed;
    z-index: 99;
    width: 100%;
}

.header-container {
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
    width: 80%;
    padding: 10px 50px;
    align-items: center;
    justify-content: space-between;
}

.header-img {
    width: 50%;
}

.header-img img {
    width: 150px;
    border-radius: 10px;
}

.header-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.header-nav nav {
    display: flex;
}

.header-nav nav ul li a {
    font-family: "Lexend";
    font-size: 1em;
    font-weight: 600;
    color: #001F3D;
    text-transform: capitalize;
}


/* ESTILOS HERO */

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.contenido-hero {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
}

.contenido-hero h1 {
    font-size: 5em;
    margin-bottom: 1rem;
    font-family: "Montserrat";
    text-transform: uppercase;
}

.contenido-hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #006fdf;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 500;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: #003c79;
}

/* ESTILOS CONOCE */

.conoce-us {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.video-fondobt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.oscurecer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: -1;
}

/* Contenido de texto centrado */
.conoce-desc {
  position: relative;
  z-index: 1;
  max-width: 900px;
  padding: 2rem;
}

.conoce-container h1 {
  font-family: 'Lexend', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.4;
  color: white;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}

/* ESTILO QUIENES SOMOS */

.qsomos-us {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.qsomos-container {
    width: 80%;
    padding: 100px 0;
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qsomos-img img {
    width: 800px;
    border-radius: 50px;
}

.qsomos-desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.qsomos-desc h2 {
    color: #003c79;
    font-size: 3.5em;
    text-align: center;
    font-weight: 800;
    font-family: "Montserrat";
    text-transform: uppercase;
}

.qsomos-desc p {
    font-family: "Lexend";
    font-weight: 300;
    font-size: 1.5em;
}

/* COSTA ESTILOS */

.costa {
    background-image: url(images/costa.jpg);
    padding: 100px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.costa::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* capa oscura */
  z-index: 0;
}

.costa > * {
    position: relative;
    z-index: 2;
}

.costa-container {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 70px;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
}

.costa h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 4em;
    text-align: center;
}

.costa form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.costa input {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.costa button {
    padding: 15px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    font-family: "Lexend";
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

/* ESTILOS RES-COSTA */

.res-c {
    background-image: url(res-images/fondo.jpeg); 
    padding: 100px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center; 
}

.res-c::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* capa oscura */
  z-index: 0;
}

.res-c > * {
    position: relative;
    z-index: 2;
}

.res-c {
  background-image: url(res-images/fondo.jpeg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 
  display: flex;
  justify-content: center;
  align-items: flex-start; /* evita empujar todo al centro vertical */
  min-height: 100vh; /* permite crecer si hay más contenido */
}

.cont {
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#resultado {
  font-size: 34px;
  font-weight: bold;
  color: rgb(23, 255, 240);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagen-resultado {
  display: none;
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin-top: 20px; /* suficiente sin exagerar */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.bueno {
  color: chartreuse;
}

.malo {
    color: red;
    background-color: gainsboro;
}




/* SIERRA ESTILOS */

.sierra {
    position: relative;
    background-image: url(images/sierra.jpg);
    padding: 100px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    z-index: 0;
}

.sierra::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* capa oscura */
  z-index: 0;
}

.sierra > * {
    position: relative;
    z-index: 2;
}

.sierra-container {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 70px;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
}

.sierra h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 4em;
    text-align: center;
}

.sierra form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sierra input {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.sierra button {
    padding: 15px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    font-family: "Lexend";
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

/* ESTILOS RES-SIERRA */

.res-s {
    background-image: url(res-images/fondo.jpeg); 
    padding: 100px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center; 
}

.res-s::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* capa oscura */
  z-index: 0;
}

.res-s > * {
    position: relative;
    z-index: 2;
}

.res-s {
  background-image: url(res-images/fondo.jpeg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 
  display: flex;
  justify-content: center;
  align-items: flex-start; /* evita empujar todo al centro vertical */
  min-height: 100vh; /* permite crecer si hay más contenido */
}

.cont {
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#resultado {
  font-size: 34px;
  font-weight: bold;
  color: rgb(23, 255, 240);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagen-resultado {
  display: none;
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin-top: 20px; /* suficiente sin exagerar */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.bueno {
  color: chartreuse;
}

.malo {
    color: red;
    background-color: gainsboro;
}

/* SELVA ESTILOS */

.selva {
    position: relative;
    background-image: url(images/sierra.jpg);
    padding: 100px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    z-index: 0;
}

.selva::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* capa oscura */
  z-index: 0;
}

.selva > * {
    position: relative;
    z-index: 2;
}

.selva-container {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 70px;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
}

.selva h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 4em;
    text-align: center;
}

.selva form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.selva input {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.selva button {
    padding: 15px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    font-family: "Lexend";
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

/* ESTILOS RES-SELVA */

.res-se {
    background-image: url(res-images/fondo.jpeg); 
    padding: 100px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center; 
}

.res-se::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* capa oscura */
  z-index: 0;
}

.res-se > * {
    position: relative;
    z-index: 2;
}

.res-se {
  background-image: url(res-images/fondo.jpeg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 
  display: flex;
  justify-content: center;
  align-items: flex-start; /* evita empujar todo al centro vertical */
  min-height: 100vh; /* permite crecer si hay más contenido */
}

.cont {
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#resultado {
  font-size: 34px;
  font-weight: bold;
  color: rgb(23, 255, 240);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagen-resultado {
  display: none;
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin-top: 20px; /* suficiente sin exagerar */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.bueno {
  color: chartreuse;
}

.malo {
    color: red;
    background-color: gainsboro;
}

/* URBANO ESTILOS */

.urbano {
    position: relative;
    background-image: url(images/urbana.webp);
    padding: 100px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    z-index: 0;
}

.urbano::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* capa oscura */
  z-index: 0;
}

.urbano > * {
    position: relative;
    z-index: 2;
}

.urbano-container {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 70px;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
}

.urbano h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 4em;
    text-align: center;
}

.urbano form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.urbano input {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.urbano button {
    padding: 15px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    font-family: "Lexend";
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

/* ESTILOS RES-URBANO */

.res-u {
    background-image: url(res-images/fondo.jpeg); 
    padding: 100px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center; 
}

.res-u::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* capa oscura */
  z-index: 0;
}

.res-u > * {
    position: relative;
    z-index: 2;
}

.res-u {
  background-image: url(res-images/fondo.jpeg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 
  display: flex;
  justify-content: center;
  align-items: flex-start; /* evita empujar todo al centro vertical */
  min-height: 100vh; /* permite crecer si hay más contenido */
}

.cont {
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#resultado {
  font-size: 34px;
  font-weight: bold;
  color: rgb(23, 255, 240);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagen-resultado {
  display: none;
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin-top: 20px; /* suficiente sin exagerar */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.bueno {
  color: chartreuse;
}

.malo {
    color: red;
    background-color: gainsboro;
}

/* Responsive */

/* Mostrar header normal solo en escritorio */
@media screen and (max-width: 768px) {

    .movil-menu {
        display: block;
    }

    header {
        display: none;
    }

    .header-nav {
    display: none;
    }

    .hero {
        height: 100vh;
    }

    .contenido-hero h1 {
        font-size: 2.5em;
    }

    .qsomos-container {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .qsomos-desc h2 {
        font-size: 1.5em;
        text-align: center;
    }

    .qsomos-desc p {
        font-size: 1em;
        text-align: center;
    }

    .qsomos-img img {
        width: 100%;
        border-radius: 10px;
    }

  .res-c {
    padding: 60px 0;
    height: auto;
  }

  .cont {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .tarjeta-consejos {
    padding: 20px;
  }

  .consumo-alerta {
    text-align: center;
  }

.cont-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

    
  
}

/* Mostrar menú móvil solo en móviles */
@media screen and (min-width: 769px) {
    .movil-menu {
        display: block;
    }
  
    .movil-menu {
        display: none;
    }

    
}
